[submodule "MyNFT/lib/forge-std"]
	path = MyNFT/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "MyNFT/lib/openzeppelin-contracts"]
	path = MyNFT/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/reactive-lib"]
	path = lib/reactive-lib
	url = https://github.com/Reactive-Network/reactive-lib
[submodule "Demo/lib/forge-std"]
	path = Demo/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
